.**
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
*.idea/
*.project
*.pydevproject
*.vscode/
*.directory
.*.sw?
.sw?
.DS_Store
coverage
test
